body {
    font-family: 'Titillium Web', sans-serif;
    background: #005C97;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#barra {
    font-family: 'Titillium Web', sans-serif;
    background: #005C97;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-brand {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

#imglogo {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

#html {
    font-size: 100px;
    margin: 5px 13px 8px 8px;
}

#css {
    margin: 5px 13px 8px 8px;
    font-size: 100px;
}

#bootstrap {
    font-size: 100px;
    margin: 5px 13px 8px 8px;
}

#wordpress {
    font-size: 100px;
    margin: 5px 13px 8px 8px;
}

#javascript {
    font-size: 100px;
    margin: 5px 13px 8px 8px;
}

#basedatos {
    font-size: 100px;
    margin: 5px 13px 8px 8px;
}

#react {
    font-size: 100px;
    margin: 5px 13px 8px 8px;
}

#testimonial {
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

hr {
    background-color: #f1f1f1;
    width: 60%;
}

#imagen1 {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

#imagen2 {
    clip-path: polygon(25% 0, 100% 0%, 75% 100%, 0% 100%);
}

footer {
    text-align: center;
}

#facebook {
    color: whitesmoke;
    font-size: 100px;
    margin: 5px 8px 8px 8px;
}

#linkedin {
    color: whitesmoke;
    font-size: 100px;
    margin: 5px 8px 8px 8px;
}

#email {
    color: whitesmoke;
    font-size: 100px;
    margin: 5px 8px 8px 8px;
}

#whatsapp {
    color: whitesmoke;
    font-size: 100px;
    margin: 5px 8px 8px 8px;
}

#imagencntcto {
    filter: blur(4px);
    border-radius: 4px;
}

#logos {
    border: 4px solid white;
    position: relative;
    top: -200px;
    left: 45px;
    z-index: 1;
}

#correo {
    display: none;
}

#wchat {
    display: none;
}